<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>3DS TD</title>
    <link href="/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style>
        .pbar {
            background-color: rgb(32, 32, 32);
            border-radius: 4px;
            padding: 3px;
            width: 25%;
        }

        a {
            text-decoration: none !important;
        }

        .pbar>div {
            background-color: limegreen;
            width: 100%;
            height: 20px;
            border-radius: 2px;
            transition: all 600ms ease-in-out;
        }

        .right {
            position: absolute;
            right: 10px;
        }

        .center {
            margin: auto;
        }
    </style>
</head>

<body style="background-color: black;">
    <div style="color: lightgray;">
        <div class="container-fluid">
            <p>
            <h1>
                3DS Theme Downloader
            </h1>
            </p>
        </div>
        <div class="text-center">
            <p>Put more themes in the themes folder or download themes from ThemePlaza, using the integrated theme downloader, <a href="/tp">here</a>!</p>
            <p>Scan the QR code(s) in Anemone to download your theme(s).</p>
            <% codes.forEach(item => { %>
                <h5><%= item.name %></h5>
                <img src="<%= item.img %>" style="width: 25%; height:25%;">
            <% }) %>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
</body>

</html>